body {
  margin:0;
  font-family: Arial;
  background:#111;
  color:#fff;
}

.navbar {
  display:flex;
  justify-content:space-between;
  padding:15px;
  background:#000;
}

.navbar ul {
  display:flex;
  list-style:none;
}

.navbar ul li {
  margin:0 10px;
}

.navbar a {
  color:gold;
  text-decoration:none;
}

.hero {
  text-align:center;
  padding:100px;
  background:url('https://picsum.photos/1200/400') no-repeat center/cover;
}

.btn {
  background:gold;
  padding:10px 20px;
  color:#000;
  text-decoration:none;
}

.products {
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:20px;
  padding:20px;
}

.product {
  background:#222;
  padding:15px;
  border-radius:10px;
  transition:0.3s;
}

.product:hover {
  transform:scale(1.05);
}

.product img {
  width:100%;
}

input, select {
  padding:10px;
  margin:10px;
}
